@import "./media";

$primary: #1376b9;
$inverse: #000000;
$grey: #a5a5a5;
$white: #fff;
$shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
$border-top: 1px solid rgba(0, 0, 0, 0.272);

$boxShadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $white;

  overflow-x: hidden;

  font-family: Arial, Helvetica, sans-serif;

  @include media-550 {
    line-height: initial !important;
  }
}
.container {
  max-width: 119.9rem;
  margin: 0 auto;
  width: 100%;

  @include media-1200 {
    width: 90%;
  }
}

.header {
  width: 100%;
  background-color: $white;
  height: 13rem;
  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hamburger {
      height: 1.5rem;
      width: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .line {
        width: 100%;
        height: 2px;
        background-color: #000;
      }
    }
    .logo-wrapper {
      display: flex;
      align-items: center;
      height: 5rem;

      img {
        height: 100%;
        object-fit: cover;
        margin-right: 1.5rem;
      }

      .logo-content {
        h1 {
          font-weight: normal;

          word-spacing: -1rem;
          letter-spacing: -0.2rem;

          line-height: 1;

          color: #3c3c3ca8;
          font-size: 4rem;
          .highlight {
            font-size: 4rem;
            font-weight: 600;

            &:first-child {
              color: #ffd800;
            }

            &:nth-child(2) {
              color: #91c63f;
            }
            &:nth-child(3) {
              color: #0082ca;
            }
          }
        }

        .bottom {
          text-transform: uppercase;
          font-size: 0.8rem;
          color: #a0a0a0;
          letter-spacing: 0.5rem;
          opacity: 0.5rem;
        }
      }
    }

    .nav-bar {
      display: flex;

      @include media-768 {
        position: absolute;
        top: 13rem;
        left: 0;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: fit-content;
        background-color: #3c3c3c;
        transition: all ease 0.3s;
        transform: translateX(-100%);

        &-active {
          transform: translateX(0);
        }
      }

      li {
        padding: 0 2rem;

        border-right: 1px solid #a0a0a0;

        @include media-768 {
          border: none;
          margin: 6rem 0;
        }

        a {
          color: #a0a0a0;

          text-transform: uppercase;
          font-size: 1.1rem;
          font-weight: bold;

          position: relative;
          &:hover {
            color: #1376b9;
          }
          @include media-768 {
            font-size: 1.5rem;
          }

          &::after {
            content: "";
            width: 100%;
            position: absolute;
            display: block;
            height: 2px;
            background-color: #3c3c3c;
            bottom: -1rem;
            left: 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: 150ms ease-in all;
          }
          &:hover::after {
            transform: scaleX(1);
          }
        }
      }
    }

    .header-btn {
      text-transform: uppercase;
      font-size: 1.1rem;
      font-weight: 600;
      padding: 1.5rem 3rem;
      border-radius: 0.5rem;
      background-color: #a0a0a0;

      color: $white;
      transition: 0.5s ease-in-out;

      &:hover {
        background-color: #3c3c3c;
        color: $white;
      }

      @include media-1040 {
        display: none;
      }
    }
  }
}

//////////hero section start////////

.hero {
  margin-top: 13rem;
  height: 60vh;
  width: 100%;
  position: relative;

  .img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    img {
      height: 100%;
      width: 100%;
      object-position: right;
      object-fit: cover;
    }
  }

  .hero-container {
    height: 100%;

    position: relative;

    .hero-desc {
      position: absolute;

      width: 100%;
      height: 100%;

      top: 10rem;
      left: 0;

      h2 {
        font-size: 1.1rem;
        font-weight: 700;
        word-spacing: 0.2rem;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 4rem;
        font-weight: 100;
        color: #0082ca;
        margin-bottom: 2rem;

        word-spacing: -0.5rem;
        span {
          font-weight: 600;
        }
      }

      p {
        width: 100%;
        max-width: 45rem;
        font-size: 1.5rem;
        color: $white;
        margin-bottom: 4rem;
        line-height: 1.3;
        font-weight: 500;
      }

      .btn {
        background-color: #0082ca;
        border: none;
        border-radius: 0.5rem;
        color: $white;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 600;
        padding: 1.5rem 4rem;
        transition: 0.5s ease-in-out;
        &:hover {
          background-color: #3c3c3c;
        }
      }
    }
  }
}

///////////////contact section start/////////
.contact {
  width: 100%;

  height: 18rem;
  background-color: #1376b9;

  &-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    .grid {
      display: flex;
      align-items: center;

      &:hover {
        .phone-wrapper {
          animation: pulse 0.4s linear;
        }
      }
    }
    p {
      color: $white;
      text-transform: uppercase;
      font-size: 1.1rem;
      font-weight: 800;
      padding: 0.5rem 0;
    }
    h5 {
      font-size: 2rem;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.782);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .phone-wrapper {
      height: 5rem;
      width: 5rem;
      background-color: #fff;
      border-radius: 50%;
      margin-right: 2rem;
    }

    .phone {
      background-image: url(./image/teaser-phone-cs.png);

      background-repeat: no-repeat;
      background-position: 30% 70%;
      width: 100%;
      height: 100%;
      @include media-1040 {
        background-image: none;
      }
    }

    .time {
      background-image: url(./image/teaser-clockopy-cs.png);

      background-repeat: no-repeat;
      background-position: 30% 70%;
      width: 100%;
      height: 100%;
      @include media-1040 {
        background-image: none;
      }
    }
    .location {
      background-image: url(./image/teaser-pointer-cs.png);

      background-repeat: no-repeat;
      background-position: 30% 50%;
      width: 100%;
      height: 100%;
      @include media-1040 {
        background-image: none;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
